.container {
    margin: 0 auto;
    width: 1100px;
}

.nav-container {
    display: grid;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #eaeaf1;
    z-index: 1;
}

.nav {
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.nav-item {
    display: inline;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 35px;
}

.nav-link {
    text-decoration: none;
    color: #323232;
    font-size: 20px;
    font-weight: 500;
}

.nav-link:hover {
    color: #666666;
}

.nav-link:active {
    color: #919191fe;
}